.img-sosmed {
    max-width: 5.5em;
    max-height: 3.5em;
}

.img-logo-org {
    max-height: 15em;
    max-width: 20.5em;
    /* position: ce; */

}

.img-avatar-profile {
  max-width: 71px;
  max-height: 71px;
}

.img-benner-profile {
  background: url("../../assets/logo/profil.jpg") center center/cover no-repeat local;
  width: 100%;
  height: 500px;
  text-align: center;
  position: relative;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-benner-layanan {
  background: url("../../assets/logo/layanan.jpg") center center/cover no-repeat local;
  width: 100%;
  height: 500px;
  text-align: center;
  position: relative;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-benner-informasi {
  background: url("../../assets/logo/layanan.jpg") center center/cover no-repeat local;
  width: 100%;
  height: 500px;
  text-align: center;
  position: relative;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-benner-kontak {
  background: url("../../assets/logo/kontak.jpg") center center/cover no-repeat local;
  width: 100%;
  height: 500px;
  text-align: center;
  position: relative;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.507); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
    
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #f7f7f7;
    color: rgb(255, 255, 255);
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #ffffff;
    color: white;
  }